<!DOCTYPE html>
<html 
    lang="pl"
    xmlns:th="http://www.thymeleaf.org"
    >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj kategorię - bibliotekarz</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a th:href="@{/mainview}" class="button">Książki</a>
            <a th:href="@{/authors}" class="button">Autorzy</a>
            <a th:href="@{/categories}" class="button">Kategorie</a>
            <a href="" class="button">Wypożyczenia</a>
            <a th:href="@{/addbook}" class="button">Dodaj książkę</a>
            <a href="" class="button">Mój profil</a>
            <a th:href="@{/logout}" class="button">Wyloguj się</a>
        </div>

        <h1>Edytowanie kategorii</h1>
        <hr>

        <form th:action="@{/editcategory}" th:object="${category}" method="post">
            <input type="hidden" name="" th:field="*{id}">
            
            <label>Kategoria </label>
            <input type="text" th:field="*{name}"> <br>


            <button type="submit">Zapisz</button>
            <a th:href="@{/categories}" class="button">Anuluj</a>

        </form>
       

        <div class="footer">
            <h2 class="copyright">Copyright © 2023 Konrad Warzecha</h2>
        </div>

    </div>
</body>
</html>