<!DOCTYPE html>
<html 
    lang="pl"
    xmlns:th="http://www.thymeleaf.org"
    >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj książkę - bibliotekarz</title>

    <link rel="stylesheet" th:href="@{http://localhost:8081/styles/all.css}">
    <link rel="stylesheet" th:href="@{http://localhost:8081/styles/page/grid.css}">
    <link rel="stylesheet" th:href="@{http://localhost:8081/styles/forms.css}">

</head>
<body>
    <div class="container">
        <div class="header">
            <a th:href="@{/mainview}" class="button">Książki</a>
            <a th:href="@{/authors}" class="button">Autorzy</a>
            <a th:href="@{/categories}" class="button">Kategorie</a>
            <a th:href="@{/all_loans}" class="button">Wypożyczenia</a>
            <a th:href="@{/addbook}" class="button">Dodaj książkę</a>
            <a th:href="@{/profile}" class="button">Mój profil</a>
            <a th:href="@{/logout}" class="button">Wyloguj się</a>
        </div>

        <div class="main">
            <form th:action="@{/edit}" th:object="${book}" method="post">
                <div class="form-head">
                    <br>
                    <h1>Edytowanie książki</h1>
                    <br><br>
                </div>
                
                <div class="form-body">
                    <input type="hidden" name="" th:field="*{id}">
                    
                    <label>Tytuł </label>
                    <input type="text" th:field="*{title}"> <br>

        
                    <h3>Zmień autora</h3>
        
                    <select th:field="*{author.id}">
                        <option th:each="aut: ${authorList}"
                            th:value="${aut.id}"
                            th:selected="${aut.id.equals(book.author.id)}"
                            th:text="${aut.firstName} + ' ' + ${aut.lastName}">author</option>
                    </select>
    
        
                    <h3>Zmień kategorię</h3>
        
                    <select th:field="*{category.id}">
                        <option th:each="cat : ${categoriesList}"
                            th:value="${cat.id}"
                            th:selected="${cat.id.equals(book.category.id)}"
                            th:text="${cat.name}">category</option>
                    </select>
                    <br><br>
                </div>

                <div class="form-foot">
                    <button type="submit">Zapisz</button>
                    <a th:href="@{/mainview}" class="button">Anuluj</a>
                </div>
            </form>

        </div>

        <div class="footer">
            <h2 class="copyright">Copyright © 2023 Konrad Warzecha</h2>
        </div>

    </div>
</body>
</html>