<!DOCTYPE html>
<html 
    lang="pl"
    xmlns:th="http://www.thymeleaf.org"
    >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczenia - bibliotekarz</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a th:href="@{/mainview}" class="button">Książki</a>
            <a th:href="@{/authors}" class="button">Autorzy</a>
            <a th:href="@{/categories}" class="button">Kategorie</a>
            <a th:href="@{/all_loans}" class="button">Wypożyczenia</a>
            <a th:href="@{/addbook}" class="button">Dodaj książkę</a>
            <a href="" class="button">Mój profil</a>
            <a th:href="@{/logout}" class="button">Wyloguj się</a>
        </div>

        <div class="book-list">

            <h2>Wszystkie wypożyczenia</h2>

            <table class="books-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Imię i nazwisko</th>s
                        <th>Książki</th>
                        <th>Data wypożyczenia</th>
                        <th>Data zwrotu</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="loan : ${loans}">
                        <td th:text="${loan.id}">ID</td>
                        <td th:text="${loan.user.getLogin()}">login</td>
                        <td th:text="${loan.user.getFirstName()} + ' ' + ${loan.user.getLastName()}">Imię i nazwisko</td>
                        <td>
                            <ul>
                                <li th:each="book : ${loan.books}" th:text="${book.title}">Książki</li>
                            </ul>
                        </td>
                        <td th:text="${loan.dateOfLoan}">Data wypożyczenia</td> 
                        <td th:text="${loan.dateOfReturn}">Data zwrotu</td>
                        <td>
                            <a href="" class="button">Zwróć wypożyczenie</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="footer">
            <h2 class="copyright">Copyright © 2023 Konrad Warzecha</h2>
        </div>

    </div>
</body>
</html>