<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koszyk</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a th:href="@{/mainview}" class="button">Książki</a>
            <a th:href="@{/showloans}" class="button">Moje wypożyczenia</a>
            <a th:href="@{/showbasket}" class="button">Koszyk</a>
            <a th:href="@{/profile}" class="button">Mój profil</a>
            <a th:href="@{/logout}" class="button">Wyloguj się</a>
        </div>


        <div class="book-list">
            <h1>Twój koszyk</h1>
            <h2 th:text="${message}"></h2>

            <table class="books-table">
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Kategoria</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}">tytul</td>
                        <td th:text="${book.author.getFirstName()} + ${book.author.getLastName()}">autor</td>
                        <td th:text="${book.category.getName()}">kategorie</td>
                        <td>
                            <a th:href="@{'/deletefrombasket/' + ${book.id}}">Usuń z koszyka</a>
                            <!-- TODO: disable button if status is 'zarezerwowana' or 'wypożyczona' -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/makeloan}" class="button">Potwierdź wypożyczenie</a>
        </div>

        <div class="footer">
            <h2 class="copyright">Copyright © 2023 Konrad Warzecha</h2>
        </div>

    </div>
</body>
</html>