input, select {
    width: 50%;
    height: 30px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid darkslategray;
    border-radius: 4px;
    margin: 10px 0px;
    transition: all 0.3s ease-in-out;
    background-color: rgb(237, 237, 237);
}

input:hover, input:focus, input:active, input:valid {
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

select:hover, select:active, select:valid, select:focus {
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid white;
}

button {
    cursor: pointer;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    border: 1px solid white;
}

label {
    font-size: 20px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-head, .form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.form-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 40%;
    margin-bottom: 1%;
}

hr {
    width: 50%;
    height: 1px;
}
